<script src="{{ ASSETS_ROOT }}/js/jquery-3.7.0.min.js"></script>
<script src="{{ ASSETS_ROOT }}/js/jquery-ui.min.js"></script>
<script src="{{ ASSETS_ROOT }}/js/vendor-all.min.js"></script>
<script src="{{ ASSETS_ROOT }}/plugins/bootstrap/js/bootstrap.min.js"></script>
<!-- <script src="{{ ASSETS_ROOT }}/plugins/popper/js/popper.min.js"></script> -->
<script src="https://unpkg.com/@popperjs/core@2"></script>
<script src="{{ ASSETS_ROOT }}/js/pcoded.min.js"></script>
<script src="{{ ASSETS_ROOT }}/js/dark-mode.js"></script>
<script src="{{ ASSETS_ROOT }}/js/config.js"></script>
<script src="https://www.google.com/recaptcha/api.js"></script>
